.info-card {
  padding: 0 5px;
}
.info-card:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.info-primary {
  background-color: #1cc7c1;
}
.info-dark {
  background-color: #3a4256;
}
.info-container {
  height: 100px;
  padding: 30px;
}
.info-icon {
  font-size: 3em;
}
