.contact {
  background-image: url(../../../images/Welcome.jpg);
  position: relative;
  z-index: 1;
}
.contact::before {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(163, 87, 131, 0.767);
  opacity: 0.9;
  z-index: -1;
}
