.btn-brand {
  background-image: linear-gradient(
    to right,
    #e6b11f,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);

  text-transform: uppercase;
  width: 180px;

  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 50px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-brand:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-brand:focus {
  outline: none;
}
.text-brand {
  color: #c5282d;
}

/* calendar design */
.calender-area {
  position: absolute;
  bottom: -50px;
}
.react-calendar {
  border: 0;
  box-shadow: 0 0 10px #f1eded;
  padding: 5%;
  width: 100%;
}
.react-calendar__navigation {
  height: 100px;
}
.react-calendar__month-view__weekdays abbr[data-original-title],
.react-calendar__month-view__weekdays abbr[title],
.react-calendar__month-view__days__day,
.react-calendar__month-view__weekdays,
.react-calendar__month-view__days__day--weekend {
  text-decoration: none;
  color: #686868;
  text-transform: unset;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #eaeaea;
}
.react-calendar__tile--active {
  background-image: linear-gradient(75deg, #ff4d4d, #d11212);
  border-radius: 5px;
  color: #ffffff;
}
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
  font-size: 2em;
  opacity: 0.2;
}
.react-calendar__tile {
  padding: 1em 0.5em;
}
